conda.enabled = true

params.db_res = "/${PATH}/DB/resfinder_db/resfinder_db/"
params.db_vir = "/${PATH}/DB/resfinder_db/virulencefinder_db/"

params.kaptive_dir = "/${PATH}/DB/Kaptive/reference_database/"
params.kap_oc_bau = "Acinetobacter_baumannii_OC_locus_primary_reference.gbk"
params.kap_k_bau = "Acinetobacter_baumannii_k_locus_primary_reference.gbk"
params.kap_k_kle = "Klebsiella_k_locus_primary_reference.gbk"
params.kap_o_kle = "Klebsiella_o_locus_primary_reference.gbk"

params.card_db = '/${PATH}/DB/card.json'

params.pl = 'Illumina'
params.pm = 'NextSeq'

params.resfam_name = "Resfams-full.hmm"
params.resfam_dir = "/${PATH}/DB/"

params.ncrs = 10

// ENABLE DOCKER
docker {
    enabled = true
    temp = 'auto'
    fixOwnership = true
}
params.reads = '/${DATA}/*_{1,2}.fastq.gz'
params.fastas ='/${RESULTS}/out_assembly/spades/*.fasta'
params.filestart ='reads'
params.species = 'Acinetobacter buamannii'
params.experiment = 'paired'
params.out_assembly ='/${RESULTS}/out_assembly/'
params.out_resistance ='/${RESULTS}/out_resistance/'
